@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&family=Quicksand:wght@400;700&display=swap");

/* --------------------------------- utility ---------------------------------*/

:root {
   --font-family-Nunito: "Nunito", sans-serif;
   --font-family-Quicksand: "Quicksand", sans-serif;
   --color-green: #8fc638;
   --color-orange: #ff7852;
   --transition-animation: all 0.2s ease-in-out 0s;
   --color-blue-blacked: #242851;
}

body {
   font-size: 18px;
   font-family: var(--font-family-Nunito);
   background: #fff8f5;
   color: #707283;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.header {
   padding: 53px 0px 0px 0px;
   margin: 0px 0px 10px 0px;
}
.main {
   flex: 1 1 auto;
}
.footer {
}
.container {
   max-width: 1490px;
   margin: 0 auto;
}

.btn {
   font-weight: 700;
   font-size: 20px;
   line-height: calc(27 / 20 * 100%);
   color: #ffffff;
   padding: 16px 35px;
   background: linear-gradient(180deg, #ffa992 0%, #ff7852 65%);
   box-shadow: 0px 10px 25px rgba(255, 124, 84, 0.3);
   border-radius: 30px;
}

/* --------------------------------- header ---------------------------------*/

.header__row {
   display: flex;
   align-items: center;
}
.header__logo {
   font-weight: 900;
   font-size: 40px;
   line-height: calc(55 / 40 * 100%);
   color: var(--color-orange);
}
.header__logo span {
   color: var(--color-green);
}
.header__navigation {
   margin: 0px 0px 0px 335px;
}
.navigation__list {
   display: flex;
}

.navigation__list li:not(:last-child) {
   margin: 0px 55px 0px 0px;
}
.navigation__list li a {
   font-weight: 600;
   font-size: 20px;
   line-height: calc(27 / 20 * 100%);
   color: var(--color-blue-blacked);
   transition: var(--transition-animation);
}
.navigation__list li a:hover {
   color: var(--color-orange);
}
.header__button {
   margin-left: auto;
}
.header__link {
   transition: var(--transition-animation);
}
.header__link:hover {
   opacity: 0.8;
}

/* --------------------------------- page ---------------------------------*/

.page {
   position: relative;
   padding: 122px 0px 130px 0px;
}
.page__container {
   max-width: 1720px;
   margin: 0 auto;
}
.page__body {
   max-width: 630px;
   padding: 74px 0px;
   margin: 0px 0px 0px 210px;
}
.page__title {
   font-weight: 800;
   font-size: 100px;
   line-height: 120%;
   color: var(--color-blue-blacked);
}
.page__title:not(:last-child) {
   margin: 0px 0px 30px 0px;
}
.page__text {
   font-size: 22px;
   line-height: 155%;
}
.page__text:not(:last-child) {
   margin: 0px 0px 60px 0px;
}
.page__buttons {
   display: flex;
}
.page__button {
   transition: var(--transition-animation);
}
.page__button:hover {
   opacity: 0.8;
}
.page__button_orange:not(:last-child) {
   margin: 0px 20px 0px 0px;
}
.page__button_green {
   background: linear-gradient(180deg, #c3e48f 0%, #8ec637 65%);
   box-shadow: 0px 10px 25px rgba(125, 181, 35, 0.3);
}
.page__image {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: -1;
}
.page__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* --------------------------------- preview ---------------------------------*/

.preview__wrapper {
   background: #ffece4;
   border-radius: 50px;
   padding: 100px 100px;
}
.preview__body {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin: 0px 0px 60px 0px;
}
.preview__suptitle {
   font-weight: 800;
   font-size: 20px;
   line-height: calc(27 / 20 * 100%);
   color: #ff7751;
   margin: 0px 0px 10px 0px;
}
.preview__title {
   font-weight: 800;
   font-size: 64px;
   line-height: calc(84 / 64 * 100%);
   text-align: center;

   color: var(--color-blue-blacked);
}

.row__cards {
   display: flex;
   flex-wrap: wrap;
   margin: 0px -20px;
}
.row__item {
   flex: 0 1 25%;
   padding: 0px 20px;
}
.row__card {
   padding: 50px 40px;
   background-color: white;
   border-radius: 30px;

   transition: var(--transition-animation);
}
.row__image {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px 0px 35px 0px;
}
.row__image img {
   border-radius: 100%;
   width: 100px;
   height: 100px;
}
.row__title {
   font-weight: 800;
   font-size: 26px;
   line-height: calc(35 / 26 * 100%);
   text-align: center;

   color: var(--color-blue-blacked);

   margin: 0px 0px 20px 0px;

   transition: var(--transition-animation);
}
.row__text {
   text-align: center;
   font-family: var(--font-family-Quicksand);
   font-size: 18px;
   line-height: 156%;

   transition: var(--transition-animation);
}

.row__card:hover {
   background-color: #ff8b6b;
}

.row__card:hover .row__text {
   color: white;
}

.row__card:hover .row__title {
   color: white;
}

/* --------------------------------- service ---------------------------------*/

.service {
   position: relative;
   padding: 103px 0px 130px 0px;
}
.container__service {
   max-width: 1604px;
   margin: 0 auto;
}
.service__body {
   max-width: 630px;
   padding: 80px 0px 50px 0px;
   margin: 0px 0px 0px 195px;
}
.service__suptitle {
   font-weight: 800;
   font-size: 20px;
   line-height: calc(27 / 20 * 100%);
   color: var(--color-orange);

   margin: 0px 0px 10px 0px;
}
.service__title {
   font-family: var(--font-family-Quicksand);
   font-weight: 800;
   font-size: 63px;
   line-height: calc(87 / 64 * 100%);

   color: var(--color-blue-blacked);

   margin: 0px 0px 30px 0px;
}
.service__text {
   font-size: 18px;
   line-height: calc(30 / 18 * 100%);

   margin: 0px 0px 25px 0px;
}
.service__lists {
   font-weight: 600;
   font-size: 18px;
   line-height: calc(25 / 18 * 100%);
   color: var(--color-blue-blacked);
   margin: 0px 0px 46px 0px;
}

.service__lists li {
   position: relative;
   padding: 0px 0px 0px 35px;
}
.service__lists li::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 24px;
   height: 24px;
   background: url(../img/image-3/lapka.svg) 0 0 / cover no-repeat;
}
.service__lists li:not(:last-child) {
   margin: 0px 0px 25px 0px;
}
.service__button {
   display: flex;
}
.service__btn {
   transition: var(--transition-animation);
}

.service__btn:hover {
   opacity: 0.8;
}
.service__image {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}
.service__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* --------------------------------- groomers ---------------------------------*/

.groomers {
   margin: 0px 0px 130px 0px;
}
.groomers__wrapper {
   background: #ffece4;
   border-radius: 50px;
   padding: 100px;
}
.groomers__body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 0px 0px 60px 0px;
}
.groomers__suptitle {
   font-weight: 800;
   font-size: 20px;
   line-height: calc(27 / 20 * 100%);
   color: var(--color-orange);
   margin: 0px 0px 10px 0px;
}
.groomers__title {
   font-weight: 800;
   font-size: 64px;
   line-height: calc(87 / 64 * 100%);
   color: var(--color-blue-blacked);
}
.groomers__card {
}
.card {
}
.card__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0px -20px;
}
.card__item {
   flex: 1 1 25%;
   padding: 0px 20px;
}
.card__body {
   padding: 50px 50px 70px 50px;
   background-color: white;
   border-radius: 146px;
}
.card__image {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px 0px 30px 0px;
}
.card__image img {
   width: 192px;
   height: 192px;
   border-radius: 110px;
}
.card__name {
   font-weight: 800;
   font-size: 24px;
   line-height: calc(33 / 24 * 100%);
   text-align: center;
   color: var(--color-blue-blacked);
   margin: 0px 0px 7px 0px;
}
.card__post {
   font-weight: 700;
   font-size: 18px;
   line-height: calc(22 / 18 * 100%);
   text-align: center;
   color: #ff7751;
}

/* --------------------------------- pack ---------------------------------*/

.pack {
   margin: 0px 0px 130px 0px;
}
.container__min {
   max-width: 1290px;
   margin: 0 auto;
}
.pack__column {
   display: flex;
   align-items: center;
}
.pack__item {
}
.pack__item:nth-child(1) {
   position: relative;
   z-index: 1000;
}
.pack__item:nth-child(2) {
   position: relative;
   z-index: 1003;
   margin: 0 -66px;
}
.pack__item:nth-child(3) {
   position: relative;
   z-index: 1000;
}
.pack__card {
   padding: 60px 128px;
   background: #ffffff;
   box-shadow: 0px 15px 40px rgba(217, 200, 193, 0.3);
   border-radius: 20px;
}
.pack__body {
   color: var(--color-blue-blacked);
}
.pack__suptitle {
   font-weight: 800;
   font-size: 28px;
   line-height: calc(38 / 28 * 100%);
   text-align: center;
   margin: 0px 0px 5px 0px;
}
.pack__days {
   font-weight: 800;
   font-size: 50px;
   line-height: calc(68 / 50 * 100%);
   text-align: center;
   margin: 0px 0px 50px 0px;
}
.pack__lists {
   margin: 0px 0px 50px 0px;
}
.pack__lists li {
   font-weight: 700;
   font-size: 20px;
   line-height: calc(25 / 20 * 100%);
   text-align: center;
   font-family: var(--font-family-Quicksand);
}
.pack__lists li:not(:last-child) {
   margin: 0px 0px 25px 0px;
}
.pack__price {
   font-weight: 800;
   font-size: 50px;
   line-height: calc(68 / 50 * 100%);
   text-align: center;
   color: var(--color-orange);
   margin: 0px 0px 60px 0px;
}
.pack__price span {
   font-size: 24px;
}
.pack__btn {
   display: flex;
   align-items: center;
   justify-content: center;
   transition: var(--transition-animation);
}
.pack__btn:hover {
   opacity: 0.8;
}

.pack__card_modify .pack__card {
   background: linear-gradient(180deg, #ffa389 0%, #ff6439 100%);
   box-shadow: 0px 15px 40px rgba(255, 103, 61, 0.3);
}

.pack__card_modify .pack__body {
   color: white;
}

.pack__card_modify .pack__lists li {
   color: white;
}

.pack__card_modify .pack__price {
   color: white;
}

.pack__card_modify .pack__button {
   color: var(--color-orange);
   background: #ffffff;
}

/* --------------------------------- pet-care ---------------------------------*/

.pet-care {
   margin: 0px 0px 130px 0px;
}
.pet-care__wrapper {
   background: #ffece4;
   border-radius: 50px;
   padding: 54px 105px 39px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.pet-care__body {
   max-width: 654px;
}
.pet-care__title {
   font-weight: 800;
   font-size: 64px;
   line-height: calc(87 / 64 * 100%);
   color: #000000;

   margin: 0px 0px 30px 0px;
}
.pet-care__text {
   font-size: 18px;
   line-height: calc(30 / 18 * 100%);
   font-family: var(--font-family-Quicksand);
   margin: 0px 0px 50px 0px;
}
.pet-care__button {
   display: flex;
   transition: var(--transition-animation);
}
.pet-care__button:hover {
   opacity: 0.7;
}
.pet-care__image {
   max-width: 462px;
   max-height: 428px;
}

/* --------------------------------- footer ---------------------------------*/

.footer {
}
.footer__row {
   display: flex;
   margin: 0px 0px 135px 0px;
}
.footer__item {
}
/* .footer__item:nth-child(2) {
   max-width: 212px;
} */
.footer__item:not(:first-child) {
   margin: 0px 0px 0px 102px;
}
.footer__body {
   max-width: 410px;
}
.footer__title {
   font-weight: 800;
   font-size: 36px;
   line-height: calc(49 / 36 * 100%);
   color: var(--color-blue-blacked);
   margin: 0px 0px 25px 0px;
}
.footer__title span {
   color: var(--color-orange);
}
.footer__text {
   font-family: var(--font-family-Quicksand);
   margin: 0px 0px 30px 0px;
}
.footer__text p {
   font-size: 19px;
   line-height: calc(30 / 18 * 100%);
}
.footer__form {
   background: #ffffff;
   box-shadow: 0px 12px 35px rgba(210, 197, 192, 0.25);
   display: flex;
   max-width: 394px;
   border-radius: 30px;
}
.footer__email {
   border-radius: 30px;
   font-size: 20px;
   color: inherit;
}

.footer__email::placeholder {
   font-weight: 400;
   font-size: 18px;
   line-height: calc(22 / 18 * 100%);
}
.footer__click {
   padding: 12px 30px;
   background: linear-gradient(180deg, #ffa992 0%, #ff7852 65%);
   box-shadow: 0px 10px 25px rgba(255, 124, 84, 0.3);
   border-radius: 30px;
   font-weight: 700;
   font-size: 18px;
   line-height: calc(25 / 18 * 100%);
   color: #ffffff;
   margin-left: auto;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-right: 5px;
}

.info__block {
}

.info__title {
   font-weight: 800;
   font-size: 28px;
   line-height: calc(38 / 28 * 100%);

   color: #242851;
   margin: 0px 0px 25px 0px;
}
.info__lists {
   font-size: 18px;
   line-height: calc(22 / 18 * 100%);
   font-family: var(--font-family-Quicksand);
}

.info__lists li:not(:last-child) {
   margin: 0px 0px 15px 0px;
}
.info__link {
   font-size: 18px;
   line-height: calc(22 / 18 * 100%);
   font-family: var(--font-family-Quicksand);
   color: inherit;
}

.footer__copyright {
   padding: 0px 0px 30px 0px;
}
.copyright {
   display: flex;
   align-items: center;
   justify-content: center;
}
.copyright__page {
   font-size: 18px;
   line-height: calc(22 / 18 * 100%);
}
